#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        normal_hold_tap: normal_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "NORMAL_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <600>;
            flavor = "tap-preferred";
        };
    };

    macros {
        win_Lang_change: Lang_change {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "LANG_CHANGE";
            tap-ms = <0>;
        };

        win_Quick_search: win_Quick_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(F))>;
            label = "WIN_QUICK_SEARCH";
        };

        mac_Voice_dictation: mac_Voice_dictation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_CONTROL &kp RIGHT_CONTROL>;
            label = "MAC_VOICE_DICTATION";
        };

        mac_Open_finder: Mac_open_finder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RS(LEFT_COMMAND)>, <&macro_press>, <&kp D>;

            label = "MAC_OPEN_FINDER";
        };

        mac_Capture: Mac_capture {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_COMMAND)>, <&macro_press>, <&kp N4>;

            label = "MAC_CAPTURE";
        };

        win_Task_manager: win_Task_manager {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(DELETE))>;
            label = "WIN_TASK_MANAGER";
        };

        mac_Task_manager: mac_Task_manager {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(LS(ESCAPE)))>;
            label = "MAC_TASK_MANAGER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        window_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 1                                                                       &mo 4            &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &win_Lang_change                                                             &kp C_VOLUME_UP  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &kp C_PP          &kp LCTRL       &kp LEFT_GUI      &kp LEFT_ALT  &kp RCTRL  &kp C_VOL_DN     &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                                     &kp HOME          &kp PG_UP                                 &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC          &kp LEFT_SHIFT  &kp END           &kp PG_DN     &kp ENTER  &kp SPACE                &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &mo 2
            >;
        };

        mac_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 1                                                                          &mo 4            &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &kp LC(SPACE)                                                                   &kp C_VOLUME_UP  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &kp C_PP       &kp LEFT_COMMAND  &kp LEFT_CONTROL      &kp LEFT_ALT  &kp RCTRL  &kp C_VOL_DN     &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                                    &kp HOME              &kp PG_UP                                 &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&mo 3      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC       &kp LEFT_SHIFT    &kp END               &kp PG_DN     &kp ENTER  &kp SPACE                &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &mo 3
            >;
        };

        window_fn {
            display-name = "Fn";
            bindings = <
&kp F1         &kp F2        &kp F3       &kp F4             &kp F5             &kp F6      &tog 0                                                           &mo 4              &kp F7      &kp F8      &kp F9      &kp F10     &kp F11       &kp F12
&kp C_BRI_DEC  &kp C_BRI_UP  &kp LG(TAB)  &win_Quick_search  &trans             &trans      &kp LG(LC(D))                                                    &win_Task_manager  &kp C_PREV  &kp C_PP    &kp C_NEXT  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP
&kp LG(N1)     &kp LG(N2)    &kp LG(N3)   &kp LG(N4)         &kp LG(N5)         &kp LG(N6)  &kp LG(LC(F4))  &kp LG(E)   &kp LG(LS(S))       &trans  &trans   &none              &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &kp LG(N0)  &trans        &trans
&trans         &trans        &trans       &trans             &trans             &trans                                  &kp LG(LC(D))       &trans                              &trans      &trans      &trans      &trans      &trans        &trans
&trans         &trans        &trans       &kp LG(LC(LEFT))   &kp LC(LG(RIGHT))              &kp DELETE      &kp LA(F4)  &kp LG(LC(F4))      &trans  &kp INS  &kp LG(LS(P))                  &trans      &trans      &trans      &trans        &trans
            >;
        };

        mac_fn {
            display-name = "Fn";
            bindings = <
&kp F1         &kp F2        &kp F3                             &kp F4         &kp F5         &kp F6  &tog 0                                                                                       &mo 4              &kp F7      &kp F8      &kp F9        &kp F10     &kp F11       &kp F12
&kp C_BRI_DEC  &kp C_BRI_UP  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp LG(SPACE)  &trans         &trans  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS                                                       &mac_Task_manager  &kp C_PREV  &kp C_PP    &kp C_NEXT    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP
&trans         &trans        &trans                             &trans         &trans         &trans  &none                                   &mac_Open_finder  &mac_Capture      &trans  &trans   &none              &trans      &trans      &trans        &trans      &trans        &trans
&trans         &trans        &trans                             &trans         &trans         &trans                                                            &trans            &trans                              &trans      &trans      &trans        &trans      &trans        &trans
&trans         &trans        &trans                             &kp LC(LEFT)   &kp LC(RIGHT)          &kp DELETE                              &trans            &trans            &trans  &kp INS  &kp LG(LS(P))                  &kp LC(UP)  &kp LC(DOWN)  &trans      &trans        &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                           &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                                     &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &sys_reset       &none       &none      &bt BT_CLR  &none       &sys_reset       &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none                                      &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &rgb_ug RGB_TOG  &bl BL_TOG  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
